.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 350px;
  margin-left: 800px;
  margin-top: 310px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > p {
  color: #2d3748;
  margin-bottom: 5px;
}

.login-form > h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login-form > input {
  width: 592px;
  height: 48px;
  padding-left: 35px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #6E8BB74D ;
  border-radius: 5px;
  font-size: 15px;
}
